/* styling for the whole page */
*{
  /*font-family: Raleway;*/
  text-decoration: none;
  text-align: center;
}

.title {
    color: rgb(201, 102, 201);
}

.button {
  font-weight: bold;
  border-radius: 10px;
  background-color: white;
  
}

.button:hover {
    background-color: lightgreen;
    cursor: pointer;
}

.logout {
    float: right;
    padding: 5px;
    transition: 1s;
}

.logout:hover {
    background-color: red;
    box-shadow: 2px 2px 12px black;
    cursor: pointer;
}

.start {
    font-size: larger;
    padding: 10px;
    padding-left: 15px;
    padding-right: 15px;
    transition: 1s;
}

.start:hover {
    background-color: #ecddff;
    box-shadow: 2px 2px 12px grey;
    cursor: pointer;
}



#Question{
    margin-top: 80px;
}
#gamePlace{
    color: #0065fc;
}
#result{
    color: #0065fc;
}
#currentScore{
    color: #0065fc;
}
#Leaderboard{
    margin-top: 150px;
}


/* styling for the LOGIN page */

.inputBar {
    margin-top: 10px;
}

.email {
    margin-left: 20px;
}

.login {
    margin-top: 20px;
}

/* styling for the REGISTRATION page */

.username {
    margin-left: 0px;
}
.email {
    margin-left: 25px;
}
.password {
    margin-left: 5px;
}
.dob {
    margin-left: 30px;
}

#Errors {
    color: red;
}

.continue {
    color: black;
    font-weight: bold;
    border-radius: 10px;
    padding: 5px;
}

.continue:hover {
    cursor: pointer;
    color: blue;
    text-decoration: underline;
}